
<!--div lista-->
<div class="row">

    <p class="col-md-1" style="float:left; margin-left: 20px;">

    </p>
    <form id="myForm">
        <p>Codigo:<input type="text" name="codigo" ng-model="codigo" required>

            <input  type="submit"ng-click="mostrarTemperaturaCiudad()" 
                    class="btn btn-primary">
        </p>

    </form>

</div>

<!--div Datos del Clima de Ciudad-->

<div class="row">

    <div class="row">


        <div id="contenedor" class="col-md-8">
            <div class="row">
                <div id="cont1"  class="col-md-4">
                    <h4><strong>{{nomCiudad}}</strong></h4>
                    <p><strong>{{dia}}</strong></p>
                    <p><strong>{{nomestado}}</strong></p>
                    <h3 ><strong>{{datotemp}}</strong></h3>
                    <button class="btn btn-info" ng-disabled="mostrar" 
                            ng-click="verTemperatura()">{{gradost}}
                    </button>

                </div>
                <div id="cont2" class="col-md-4">
                    <img src='{{url}}' alt="{{nomestado}}"
                         width="100" height="100"/>
                    <p><strong>Probabilidad de Precipitacion: 
                            {{probprec}}</strong></p>
                    <p><strong>Humedad: {{humedad}}</strong></p>
                    <p><strong>Viento: {{viento}}</strong></p>     
                </div>
            </div>

            <br/>
            <br/>
        </div>


    </div>


</div>

<br/>
<center>

    <a href="/frontendtiempo/admin/insertar.html">
        <span class=" glyphicon glyphicon-floppy-disk" style="font-size:20px;"></span>
    </a>
    <a href="/frontendtiempo/admin/mostrarclimaciudad.html#">
        <span class=" glyphicon glyphicon-search" style="font-size:20px;"></span>
    </a>
</center>

<br/>